#container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#container figure {
    display: table;
}

#container figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: 20px;
}
