* {
    padding: 0;
    margin: 0;
}

#title {
    border-bottom: 2px solid hotpink;
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    height: 100vh;
}

h1,
h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#links {
    font-family: "Hammersmith One", sans-serif;
}

#left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid hotpink;
}
h2 {
    margin-top: 20px;
}

a {
    color: navy;
}

#logo a {
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#right {
    display: flex;
    flex-direction: column;
    border-left: 1px solid hotpink;
    padding: 20px;
    font-family: "Balsamiq Sans", cursive;
}

/* Logo and Links */

#logo {
    border-bottom: 1px solid green;
    padding: 20px;
    user-select: none;
}

#links a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid green;
    padding: 5px 15px;
    /* transition: all 0.5s linear; */
}
#links a:hover,
#links a:focus {
    background-color: yellow;
    color: #5c0099;
    letter-spacing: 0.15rem;
}

#logo {
    background-image: url(../patterns/pixel-heart.png);
}

img {
    border: 2px solid blue;
}

#switch-theme {
    margin: 40px;
    padding: 3px;
    background: yellow;
    color: #5c0099;
    font-weight: bold;
    border: 2px solid black;
}

#switch-theme:hover {
    background: #5c0099;
    color: yellow;
    cursor: pointer;
}
