* {
    font-weight: normal;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-style: italic;
    text-align: center;
}

.different {
    font-family: "Syne Mono", monospace;
    color: rgb(189, 96, 184);
}

.yit {
    font-family: "Cantarell", sans-serif;
}

.same {
    font-family: "Satisfy", cursive;
}

#minecraft {
    font-family: "B612 Mono", monospace;
}

:not(a) {
    color: #a71717;
}

li {
    display: inline;
}

a:focus {
    color: rgb(172, 122, 122);
    border: saddlebrown;
}

a:visited {
    color: rgb(115, 115, 129);
}

body {
    font-family: "Major Mono Display", monospace;
}

p {
    font-size: large;
    font-family: "Texturina", serif;
}

.bed li {
    font-family: "B612 Mono", monospace;
    color: rgb(45, 70, 19);
    text-decoration: none;
    transition: all 0.5s 3ms linear;
    display: inline-block;
    text-align: center;
    margin: 3px;
    background-color: rgb(115, 164, 204);
    border: 2px solid steelblue;
    padding: 3px;
    border-radius: 7px;
    text-decoration: none;
}

.bed li:hover {
    border: 2px solid steelblue;
    border-radius: 30px;
    background: rgb(118, 206, 118);
    padding: 10px;
    text-decoration: none;
}

body {
    padding-left: 17px;
}
body {
    background-color: rgb(192, 192, 192);
}

h1 {
    font-family: "Texturina", serif;
}

img {
    border: 3px solid rgb(0, 242, 234);
    border-radius: 30px;
}
#about {
    border: 2px solid rgb(3, 73, 105);
    border-radius: 25px;
}
