* {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}
li {
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}
ul li:last-child {
    border-bottom-width: 0;
}
#top-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    align-items: center;
}
#top-header h1 {
    font-weight: normal;
}
#top-header #search {
    flex: 1;
}
#content {
    display: flex;
    border-bottom: 1px solid #ccc;
}
#content #mails {
    flex: 1;
}
#mails {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#apps, #settings {
    padding: 5px;
}
#logo, #folders {
    width: 100px;
}