* {
    margin: 0;
    padding: 0;
}
#header {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    min-width: 900px;
}
#settings {
    flex: 1;
    text-align:right;
}
#logo {
    display: flex;
    align-items: center;
}
#logo button {
    margin-left: 10px;
}
#settings button {
    margin-right: 5px;
}
#content {
    /* border: 1px solid #ccc; */
    margin: 5px auto;
    width: 860px;
}
#recent {
    display: flex;
}
#current-game {
    flex: 1;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#right-column .ad {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
}
#right-column .ad:last-child {
    margin-bottom: 0;
}
#library {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
#library .game {
    height: 100px;
    width: 278px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
#library .game:nth-child(3n) {
    margin-right: 0;
}